<h1 mat-dialog-title i18n="@@warning">Warning</h1>
<div mat-dialog-content>

  <span i18n="@@changesInProgress">
    You have made unsaved modifications. If you continue, you will lose these modifications. Are you sure you want to continue?
  </span>

</div>
<div mat-dialog-actions align="end">
  <button mat-button [mat-dialog-close]="false" i18n="@@cancel">CANCEL</button>
  <button mat-flat-button class="confirm" (click)="onConfirmClick()" cdkFocusInitial i18n="@@confirm" color="warn">CONFIRM</button>
</div>
