<div class="forgot-password-form page small mat-elevation-z8">
  <form [formGroup]="forgotPasswordForm" class="forgotPassword full-width">
    <p class="mat-title" i18n="@@forgotPassword">
      Forgot password
    </p>

    <mat-form-field>
      <input formControlName="email" name="email" matInput type="email" i18n-placeholder="@@email" placeholder="Email" required>
      <mat-error *ngIf="formControls('email').errors?.required" i18n="@@mandatory">This field is mandatory</mat-error>
      <mat-error *ngIf="formControls('email').errors?.email" i18n="@@invalidEmail">Invalid email address</mat-error>
      <mat-error *ngIf="formControls('email').errors?.isInvalidEmail" i18n="@@portalReservedToCapgemini">Portal reserved to @capgemini.com collaborators</mat-error>
    </mat-form-field>

    <app-recaptcha [parentForm]="forgotPasswordForm"></app-recaptcha>

    <div class="submit-button-container" align="end">
      <button mat-button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!forgotPasswordForm.valid"
          (click)="askForPasswordRecovery()"
          i18n="@@recoverPassword">
          RECOVER PASSWORD
        </button>
    </div>
  </form>
</div>

<ng-template #justAskedToRecoverPassword>
  <span i18n="@@justAskedToRecoverPasswordMessage">You asked to recover your password. Please check your emails and follow instructions.</span>
</ng-template>
