<div class="account-form page small mat-elevation-z8">
  <form [formGroup]="accountForm" class="full-width">

    <p class="mat-title" i18n="@@account">
      Account
    </p>
    <mat-form-field>
      <input formControlName="firstname" class="firstname" name="firstname" matInput type="text" i18n-placeholder="@@firstname" placeholder="Firstname" required autofocus>
       <mat-error *ngIf="formControls('firstname').invalid" i18n="@@mandatory">This field is mandatory</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="lastname" name="lastname" matInput type="text" i18n-placeholder="@@lastname" placeholder="Lastname" required>
      <mat-error *ngIf="formControls('lastname').invalid" i18n="@@mandatory">This field is mandatory</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="login" name="login" matInput type="text" i18n-placeholder="@@pseudo" placeholder="Pseudo" required>
      <mat-error *ngIf="formControls('login').errors?.required" i18n="@@mandatory">This field is mandatory</mat-error>
      <mat-error *ngIf="formControls('login').errors?.minlength" i18n="@@invalidMinLength">Must be at least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="email" name="email" matInput type="email" i18n-placeholder="@@email" placeholder="Email" required>
      <mat-error *ngIf="formControls('email').errors?.required" i18n="@@mandatory">This field is mandatory</mat-error>
      <mat-error *ngIf="formControls('email').errors?.email" i18n="@@invalidEmail">Invalid email address</mat-error>
      <mat-error *ngIf="formControls('email').errors?.isInvalidEmail" i18n="@@portalReservedToCapgemini">Portal reserved to @capgemini.com collaborators</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="agency" name="agency" matInput type="text" i18n-placeholder="@@agency" matInput
             [matAutocomplete]="autoGroup" placeholder="Agency" (focusout)="focusOutAgency($event)" required>
      <mat-autocomplete #autoGroup="matAutocomplete" [displayWith]="displayAgencyName">
        <mat-optgroup *ngFor="let group of agencyGroupOptions | async" [label]="group.letter">
          <mat-option *ngFor="let agency of group.agencies" [value]="agency" [ngClass]="'onBlurAgencyMatOption'">
            {{agency.name}}
          </mat-option>
        </mat-optgroup>
      </mat-autocomplete>
      <mat-error *ngIf="formControls('agency').errors?.required" i18n="@@mandatory">This field is mandatory</mat-error>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Service Line</mat-label>
      <mat-select formControlName="serviceLineId" name="serviceLineId" placeholder="Service Line" i18n-placeholder="@@serviceLine" required>
        <mat-option *ngFor="let serviceLine of serviceLines" [value]="serviceLine.id">
          {{serviceLine.name}}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="formControls('serviceLineId').errors?.required" i18n="@@mandatory">This field is mandatory</mat-error>
    </mat-form-field>

    <mat-form-field>
      <input formControlName="oldPassword" name="oldPassword" matInput type="password" i18n-placeholder="@@currentPassword" placeholder="Current password">
      <mat-error *ngIf="formControls('oldPassword').invalid" i18n="@@invalidMinLength">Password must be at least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPassword" name="newPassword" matInput type="password" i18n-placeholder="@@newPassword" placeholder="New password">
      <mat-error *ngIf="formControls('newPassword').invalid" i18n="@@invalidMinLength">Must be at least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" matInput type="password" i18n-placeholder="@@confirmPassword" placeholder="Confirm password">
      <mat-error *ngIf="formControls('newPasswordConfirmation').errors?.mustMatch" i18n="@@passwordsNotEquivalent">Confirmation password is different from password</mat-error>
    </mat-form-field>

    <div [hidden]="!tokenService.hasOneOfRoles(['ADMIN'])" class="adminZone">
      <mat-divider></mat-divider>
      <div>
        <mat-slide-toggle
            name="isActive"
            formControlName="isActive">
          <span i18n="@@isAccountActive">Is account active?</span>
        </mat-slide-toggle>
      </div>
      <mat-form-field>
        <input formControlName="passwordTryCount" name="passwordTryCount" matInput type="text" i18n-placeholder="@@passwordTryCount" placeholder="Password try count">
      </mat-form-field>
    </div>

    <div class="submit-button-container" align="end">
      <button mat-button
        mat-raised-button
        type="submit"
        [disabled]="!accountForm.valid"
        (click)="update()"
        i18n="@@save">
        Save
      </button>
    </div>
  </form>
</div>

<ng-template #accountUpdated>
  <span i18n="@@accountUpdatedMessage">Log out and log in to apply modifications</span>
</ng-template>
