@using RazorLight
@inherits TemplatePage<KnowledgeCenter.CommonServices.Contracts.LayoutModel>
@model KnowledgeCenter.CommonServices.Contracts.LayoutModel
                    </tr>
<tr>
    <td bgcolor="#4a148c" style="padding: 30px 30px 30px 30px;">
        <table border="0" cellpadding="0" cellspacing="0" width="100%">
            <tr>
                <td style="color: #ffffff; font-family: Arial, sans-serif; font-size: 14px;" width="75%">
                    &reg; Knowledge center, a Capgemini Nice product<br />
                    <a href="@Model.appUrl" style="color: #ffffff;"><font color="#ffffff">Knowledge center portal</font></a>
                </td>
                <td align="right" width="25%"></td>
            </tr>
        </table>
    </td>
</tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>