@using RazorLight
@inherits TemplatePage<KnowledgeCenter.CommonServices.Contracts.PasswordRecoveryModel>
@model KnowledgeCenter.CommonServices.Contracts.PasswordRecoveryModel

@{ await IncludeAsync("Emails/Templates/Layout_Header.cshtml", Model); }

<td bgcolor="#ffffff" style="padding: 40px 30px 40px 30px;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
                <b>Password recovery</b>
            </td>
        </tr>
        <tr>
            <td style="color: #afafaf; font-family: Arial, sans-serif; font-size: 16px;">
                <i>Knowledge center</i>
            </td>
        </tr>
        <tr>
            <td style="padding: 20px 0 0 0; color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
                Hello @Model.username!
                <br /><br />
                A password recovery procedure has been recently initiated for your account.
                <br />
                Please click <a href="@Model.recoverPasswordUrl">here</a> to recover your password.
                <br /><br />
                <em>If you are not the initiator of this procedure: please do not consider this email.</em>
            </td>
        </tr>
    </table>
</td>

@{ await IncludeAsync("Emails/Templates/Layout_Footer.cshtml", Model); }