<div class="recover-password-form page small mat-elevation-z8">
  <form [formGroup]="recoverPasswordForm" class="recoverPassword full-width">
    <p class="mat-title" i18n="@@updatePassword">
      Update password
    </p>

    <mat-form-field>
      <input formControlName="newPassword" name="newPassword" matInput type="password" i18n-placeholder="@@newPassword" placeholder="New password" required>
      <mat-error *ngIf="formControls('newPassword').invalid" i18n="@@invalidMinLength">Must be at least 3 characters long</mat-error>
    </mat-form-field>
    <mat-form-field>
      <input formControlName="newPasswordConfirmation" name="newPasswordConfirmation" matInput type="password" i18n-placeholder="@@confirmPassword" placeholder="Confirm password" required>
      <mat-error *ngIf="formControls('newPasswordConfirmation').errors?.mustMatch" i18n="@@passwordsNotEquivalent">Confirmation password is different from password</mat-error>
    </mat-form-field>

    <app-recaptcha [parentForm]="recoverPasswordForm"></app-recaptcha>

    <div class="submit-button-container" align="end">
      <button mat-button
          mat-raised-button
          color="primary"
          type="submit"
          [disabled]="!recoverPasswordForm.valid"
          (click)="recoverPassword()"
          i18n="@@save">
          SAVE
        </button>
    </div>
  </form>
</div>

<ng-template #passwordRecovered>
  <span i18n="@@passwordRecoveredMessage">Your password has been successfully updated.</span>
</ng-template>
