
<div class="container full-page-module">
    <div class="module-content">
        <div class="publications" *ngIf="dataSource.data.length > 0">
          <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
              <ng-container matColumnDef="publicationType">
                <th mat-header-cell *matHeaderCellDef i18n="@@categorie"> Categorie</th>
                <td mat-cell *matCellDef="let publication" [ngClass]="{ published: publication.isPublished }"> {{publication.publicationType.description}}</td>
              </ng-container>
              <ng-container matColumnDef="publicationDate" i18n="@@datePublication">
                <th mat-header-cell *matHeaderCellDef> Date Publication</th>
                <td mat-cell *matCellDef="let publication" [ngClass]="{ published: publication.isPublished }"> {{publication.publicationDate | date:'dd/MM/yyyy, HH:mm'}} </td>
              </ng-container>
              <ng-container matColumnDef="message">
                <th mat-header-cell *matHeaderCellDef i18n="@@message"> Message </th>
                <td mat-cell *matCellDef="let publication" [ngClass]="{ published: publication.isPublished }">
                  <app-truncate [text]="publication.message" [maxSize]="50" [displayTooltip]="true"></app-truncate>
                </td>
              </ng-container>
              <ng-container matColumnDef="actions">
                <th *matHeaderCellDef mat-header-cell i18n="@@actions">Actions</th>
                <td *matCellDef="let publication" mat-cell [ngClass]="{ published: publication.isPublished }">
                  <button
                    mat-icon-button
                    [matMenuTriggerFor]="menu"
                    aria-label="Actions menu">
                    <mat-icon>more_vert</mat-icon>
                  </button>
                  <mat-menu #menu="matMenu">
                    <button
                      mat-menu-item
                      (click)="preview(publication.id)">
                      <mat-icon>remove_red_eye</mat-icon>
                      <span i18n="@@preview">Preview</span>
                    </button>
                    <button
                      mat-menu-item
                      (click)="edit(publication)">
                      <mat-icon>edit</mat-icon>
                      <span i18n="@@edit">Edit </span>
                    </button>
                    <button mat-menu-item (click)="delete(publication)">
                      <mat-icon>delete</mat-icon>
                      <span i18n="@@delete">Delete</span>
                    </button>
                    </mat-menu>
                  </td>
                </ng-container>

              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
        <div
        *ngIf="dataSource.data.length === 0"
        class="no-data"
        i18n="@@noPublicationsFound">No publications found</div>
    </div>
    <button mat-fab class="bottom-right-fixed-button" color="primary" (click)="add()" aria-label="Add publication" i18n="@@add">
        <mat-icon>add</mat-icon>
    </button>
</div>
